In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from matplotlib.cbook import boxplot_stats
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
default_city_name = 'Mumbai'

In [3]:
scraped_data = pd.read_csv('scraped_raw_data_'+default_city_name+'.csv')

In [4]:
scraped_data.count()

city                 20580
title                20580
location             20580
price(L)             20580
rate_persqft         20580
area_insqft          20580
building_status      20580
last_updated_date    20580
dtype: int64

In [5]:
scraped_data.drop_duplicates(keep='first', inplace=True)
scraped_data.count()

city                 427
title                427
location             427
price(L)             427
rate_persqft         427
area_insqft          427
building_status      427
last_updated_date    427
dtype: int64

In [6]:
scraped_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 427 entries, 0 to 20579
Data columns (total 8 columns):
city                 427 non-null object
title                427 non-null object
location             427 non-null object
price(L)             427 non-null float64
rate_persqft         427 non-null int64
area_insqft          427 non-null int64
building_status      427 non-null object
last_updated_date    427 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 30.0+ KB

In [7]:
# Correcting few values
scraped_data['location'] = scraped_data['location'].replace('Dombivali East', 'Dombivli East')
scraped_data['location'] = scraped_data['location'].replace('Dombivli (West)', 'Dombivli West')

In [8]:
# Last Updated Date needs to be converted from String format to Date format
scraped_data['last_updated_date'] = scraped_data['last_updated_date'].replace(regex=['Last update - '], value='')
scraped_data['last_updated_date'] = pd.to_datetime(scraped_data['last_updated_date'])
scraped_data.head()

,city,title,location,price(L),rate_persqft,area_insqft,building_status,last_updated_date
0,Mumbai,3 BHK Apartment,Andheri East,312.0,22694,1377,Ready to move,2019-09-19
1,Mumbai,2 BHK Apartment,Andheri East,160.0,17777,900,Ready to move,2019-10-16
2,Mumbai,1 BHK Apartment,Andheri East,110.0,17322,635,Ready to move,2019-09-11
3,Mumbai,1 BHK Apartment,Andheri East,37.0,16444,225,Ready to move,2019-11-11
4,Mumbai,2 BHK Apartment,Andheri East,180.0,18000,1000,Ready to move,2019-11-11

In [9]:
# Check if 'last_updated_date' attribute is changed to datetime type.
scraped_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 427 entries, 0 to 20579
Data columns (total 8 columns):
city                 427 non-null object
title                427 non-null object
location             427 non-null object
price(L)             427 non-null float64
rate_persqft         427 non-null int64
area_insqft          427 non-null int64
building_status      427 non-null object
last_updated_date    427 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 30.0+ KB

In [10]:
def filter_data_datewise(data, start_date, end_date) :
    filter_cond = (data['last_updated_date'] >= start_date) & (data['last_updated_date'] <= end_date)
    filtered_data = data.loc[filter_cond]
    return filtered_data

In [11]:
start_date_2019 = '01-01-2019'
end_date_2019 = '31-12-2019'
scraped_data_2019 = filter_data_datewise(scraped_data, start_date_2019, end_date_2019)
scraped_data_2019.count()

city                 231
title                231
location             231
price(L)             231
rate_persqft         231
area_insqft          231
building_status      231
last_updated_date    231
dtype: int64

In [12]:
start_date_2020 = '01-01-2020'
end_date_2020 = '31-12-2020'
scraped_data_2020 = filter_data_datewise(scraped_data, start_date_2020, end_date_2020)
scraped_data_2020.count()

city                 196
title                196
location             196
price(L)             196
rate_persqft         196
area_insqft          196
building_status      196
last_updated_date    196
dtype: int64

In [13]:
scraped_data_2019.sample(5)

,city,title,location,price(L),rate_persqft,area_insqft,building_status,last_updated_date
2948,Mumbai,4 BHK Apartment,Bandra West,830.0,41500,2000,Ready to move,2019-11-28
1975,Mumbai,2 BHK Apartment,Bandra East,157.0,18847,833,Under Construction,2019-11-23
19603,Mumbai,2 BHK Apartment,Chembur,192.0,14550,1320,Ready to move,2019-09-18
6866,Mumbai,1 BHK Apartment,Dadar West,195.0,29104,670,Ready to move,2019-11-25
11767,Mumbai,3 BHK Apartment,Thane East,175.0,11290,1550,Ready to move,2019-02-12

In [14]:
scraped_data_2020.sample(5)

,city,title,location,price(L),rate_persqft,area_insqft,building_status,last_updated_date
3933,Mumbai,1 BHK Apartment,Borivali East,92.0,16727,550,Ready to move,2020-01-15
1962,Mumbai,3 BHK Apartment,Bandra East,700.0,36842,1900,Ready to move,2020-01-16
3926,Mumbai,2 BHK Apartment,Borivali East,200.0,20597,971,Under Construction,2020-01-15
18622,Mumbai,2 BHK Apartment,Juhu,50.0,5000,1000,Ready to move,2020-01-15
9810,Mumbai,3 BHK Apartment,Kandivali East,275.0,16176,1700,Ready to move,2020-01-15

In [15]:
scraped_data_2019.groupby(by='location')['rate_persqft'].mean()

location
Ambernath East     3963.230769
Andheri East      18447.400000
Andheri West      22022.000000
Bandra East       26276.222222
Bandra West       41952.250000
Borivali East     12874.500000
Borivali West     19478.307692
Chembur           16534.950000
Dadar East        33826.714286
Dadar West        30404.176471
Dombivli East      4407.800000
Dombivli West      5521.916667
Juhu              33082.200000
Kandivali East    12219.000000
Kandivali West    14556.571429
Kharghar           9684.450000
Mahalaxmi         32267.142857
Powai             18071.000000
Thane East        10953.285714
Thane West        11271.052632
Worli             40833.333333
Name: rate_persqft, dtype: float64

In [16]:
scraped_data_2020.groupby(by='location')['rate_persqft'].mean()

location
Ambernath East     4442.500000
Andheri East      16816.266667
Andheri West      34239.687500
Bandra East       42505.200000
Bandra West       53111.250000
Borivali East     17504.307692
Borivali West     18196.333333
Chembur           26666.000000
Dadar East        35486.333333
Dadar West        29762.666667
Dombivli East      5881.000000
Dombivli West      6292.555556
Juhu              26417.833333
Kandivali East    17242.800000
Kandivali West    18194.428571
Mahalaxmi         35949.615385
Powai             22550.111111
Thane West         9610.000000
Worli             31846.750000
Name: rate_persqft, dtype: float64

In [17]:
# Dropping some locations where we have less data
print(len(scraped_data_2019))
data_final_2019 = scraped_data_2019[scraped_data_2019['location'] != 'Kharghar']
data_final_2019 = data_final_2019[data_final_2019['location'] != 'Chembur']
data_final_2019 = data_final_2019[data_final_2019['location'] != 'Thane East']
data_final_2019 = data_final_2019[data_final_2019['location'] != 'Thane West']
print(len(data_final_2019))

231
151

In [18]:
# Dropping some locations where we have less data
print(len(scraped_data_2020))
data_final_2020 = scraped_data_2020[scraped_data_2020['location'] != 'Kharghar']
data_final_2020 = data_final_2020[data_final_2020['location'] != 'Chembur']
data_final_2020 = data_final_2020[data_final_2020['location'] != 'Thane East']
data_final_2020 = data_final_2020[data_final_2020['location'] != 'Thane West']
print(len(data_final_2020))

196
194

In [19]:
data_final_2019.to_csv('scraped_raw_data_'+default_city_name+'_2019.csv',index=False)

In [20]:
data_final_2020.to_csv('scraped_raw_data_'+default_city_name+'_2020.csv',index=False)